<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.start.dao.JurisdictionDao">

    <select id="listJurisdictionByRole" resultType="cn.start.po.Jurisdiction" parameterType="java.lang.Long">
        select j.* from role_juris rj
        left join jurisdiction j on rj.jurisid = j.id
        where rj.roleid in (
          select id from role where id in (
              <foreach collection="roleids" item="role" index="i" open="(" separator="," close=")">
                #{role}
              </foreach>
          )
        );
    </select>
</mapper>