<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.start.dao.PostMaiDao">
<select id="selectPostMainByParam" parameterType="java.util.Map" resultType="cn.start.po.PostMain">
  select * from post_main where is_del ='1'
  <if test="postId !=null and postId!=''">
 and post_id=#{postId}
</if>  
  <if test="postTitle !=null and postTitle''">
  and post_title=#{postTitle}
</if>  
  <if test="postContent !=null and postContent''">
   and post_content=#{postContent}
</if>  
  <if test="postTopicId !=null and postTopicId!=''">
  and post__topic_id=#{postTopicId}
</if>  
<if test="userId !=null and userId!=''">
and user_id=#{userId}
</if>  
<if test="postCreateTime!=null and userId!=''">
and post_create_time =#{postCreateTime}
</if>

</select>

</mapper>