body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    margin: 0;
    height: 100%;
}

li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

form {
    margin: 0px;
}

a {
    cursor: pointer;
    color: #155faa;
}

a:hover {
    text-decoration: none;
}

a.active {
    font-weight: 700;
}

.menu-wrap {
    background-color: #f4726d;
    position: relative;
    z-index: 100;
    width: 100%;
    min-height: 50px;
}

.container {
    width: 800px !important;
}

.container-wrap {
    margin-top: 30px;

}

.search-box {
    position: relative;
    float: left;
    margin-top: 10px;
}

.search-box input {
    width: 260px;
    height: 32px;
    border: none;
}

.search-form span {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    color: #999;
}

.top-nav {
    border: none;
    margin: 0;
    float: left;
}

.top-nav > nav > ul > li > a {
    padding: 16px;
    color: #fff;
}

.top-nav .navbar-nav > .active > a, .top-nav .navbar-nav > li > a.active {
    background-color: #f8a09c;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f8a09c;
}

.user-nav {
    margin: 10px 0 0 10px;
    position: relative;
    float: right;
}

.text-color-999 {
    font-size: 12px;
    color: #999;
}
