.login-box {
  width:450px;
  position: relative;
  border-color: #cecdcd;
  border-style: solid;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  background-color: #fff;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
  margin: 20px auto;
}

.content{
padding:50px 60px;
width:350px;
}

.content ul li{
 margin-top:30px;
}

.pull-right{
 float:right!important
}