<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- -->

    <!-- 配置MD5加密 配置密码匹配对象 -->
    <bean id="MD5" class="org.apache.shiro.authc.credential.Md5CredentialsMatcher"></bean>

    <!-- 配置shiro 缓存管理 -->
    <bean id="MemoryCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"></bean>



    <!-- 安全管理器  shiro -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        <property name="cacheManager" ref="MemoryCacheManager"/>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="loginUrl" value="/toLogin"/>
        <property name="securityManager" ref="securityManager"/>
        <!-- 用户未授权跳转的url -->
        <property name="unauthorizedUrl" value="/cxd"/>
        <!-- http://www.cppblog.com/guojingjia2006/archive/2014/05/14/206956.html -->
        <property name="filterChainDefinitions">
            <value>
               /static/* = anon

            </value>
        </property>
    </bean>


    <!-- 开启shiro注解 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"></property>
    </bean>

</beans>